
.micks_align {
    margin:10px 40px;
}

.micks_label {
    font-size: 2.1em;
    color: gray;
    font-style: italic;
    width: 130px;
    text-align: left;
}

.micks_todo {
    font-size: 2.1em;
    color: navy;
    font-style: italic;
}

.Username {
    font-weight: bold;
    color: red;
}

.billybob {
    font-weight: bold;
    color: green;
    font-style: italic;
}